button {
    background-color: var(--blue);
}

button:hover {
    background-color: var(--blue-h);
}

.create-box {
    display:flex;
    align-items: left;
    flex-direction: column;
    width:50%;
}

.post-announce {
    display:flex;
    flex-direction: column;
    gap:10px;
}

.announcement-box-wrapper{
    display:block;
    transition:.3s all ease;
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,0.5);
    position:fixed;
    top:0px;
    left:0px;
    z-index:999;
}

.announcement-box{
    width:900px;
    position:absolute;
    position:absolute;
    left:50%;
    top:25%;
    transform: translate(-50%, -25%);
    background-color:#fff;
    border-radius:6px;
    padding:20px;
    display:flex;
    flex-direction: column;
    gap:10px;
}

.announcement-footer{
    width:100%;
    position:absolute;
    left:0;
    bottom:0;
    padding:10px;
}

.del-ann{
    width:100%;
}

.hide-box{
    display:none;
    width:0px;
    height:0px;
}

.announcement-header h3{
    font-weight: 500;
}

.ann-title {
    font-size: 17px;
}

.del-ann-btn{
    height: 45px;
    display:flex;
    align-items: center;
    font-size: 16px;
}

.del-ann-btn {
    background-color:var(--red);
}

.del-ann-btn:hover{
    background-color:var(--red-h);
}

.ann-body{
    max-height: 60px;
    overflow-y:auto;
}

.ann-box {
    padding:10px 20px;
    border-radius: 6px;
    background-color: #fff;
    max-height: 110px;
    overflow-y:auto;
    position:relative;
    transition: .17s all ease;
    border:1px solid #fff;
}

.ann-box:hover{
    cursor:pointer;
    border:1px solid rgba(243, 86, 86, .5);
    background-color:rgba(243, 86, 86,.2);
}

.announcement-body {
    overflow-y: auto;
    border-radius: 6px;
}

textarea {
    font-size: 16px;
    padding: 6px 12px;
    border:1px solid #aaa;
    border-radius:6px;
}

.btn-cont a {
    text-decoration: none;
}


.profile-tabs {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
}

.profile-tabs button {
    border-radius: 50vh;
    border: 0;
    outline: none;
    padding: 6px 16px;
    font-weight: 500;
    transition: var(--btn-t);
    color: #000;
    background-color:#fff;
}

.profile-tabs button:hover {
    background-color:var(--btn-h);
}

.profile-tabs button.selected{
    color:#fff;
    background-color:var(--primary-color);
}

.profile-tabs button.selected:hover{
    background-color:var(--save-h);
}

@media only screen and (max-width:1024px){
    .create-box{
        width:100%;
    }
}