@import 'constants.css';


.box {
    padding:10px 20px;
    border-radius: 6px;
    background-color: #fff;
    max-height: 450px;
    overflow-y:auto;
    position:relative;
}

.tall {
    width:100%;
    height:600px;
}

.wide {
    width:100%;
}

.box-title {
    font-weight: 600;
    margin: 10px 0px;
}

.box h3:first-child {
    margin-top:0px;
}

.copy-code{
    transition:.2s all ease;
}

.copy-code:hover {
    cursor:pointer;
    opacity:.6;
}

.copy-code i{
    font-size:20px;
}

.rpw {
    max-height:250px;
    overflow-y:auto;
}

.r-players {
    width:100%;
}

.user-col {
    display:flex;
    align-items:center;
    border: 1px solid #ddd;
    border-bottom: none;
    transition:.2s ease all;
    padding:10px;
}

.user-col:hover {
    background-color:#e2e2e2;
    cursor:pointer;
}

tr:last-child td.user-col {
    border-bottom: 1px solid #ddd;
}

.user-col i {
    margin-left:auto;
}

.user-col > * {
    pointer-events: none;
}

.player-info, .set-teams {
    display:none;
}

.set-teams {
    margin-top:10px;
}

.hide-rem {
    display:none !important;
}

.m-cancel {
    color:rgb(224, 75, 75);
}

.empty-player {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50%, -50%);
}

.empty-player p {
    font-size: 20px;
    color:#bbb;
    margin:auto;
}

.t-select {
    font-size:16px;
}

.t-select input[type=checkbox] {
    margin-right:8px;
}

#schoolcode {
    font-size:14px;
}

.save-btn {
    margin: 0px;
    margin-top:20px;
    width:100%;
    display: flex;
    justify-content: center;
}

.time-header {
    display:flex;
    align-items: center;
}

.time-header i {
    font-size: 30px;
    margin-left: auto;
    transition: .2s color ease;
}

.game-times {
    display:flex;
    flex-direction: column;
}

.game-time {
    display:flex;
    align-items: center;
    gap:10px;
    flex-wrap:wrap;
    margin-bottom: 10px;
}

.game-time input, .game-time select, .listview-header1 input {
    font-size:16px;
    padding:6px 12px;
    border: 1px solid #aaa;
    border-radius: 6px;
}

.game-time input[type="text"],  .listview-header1 input {
    max-width:120px;
}

.game-time i {
    font-size: 34px;
    color:rgb(224, 75, 75);
}

#p-delete{
    color:rgb(224,75,75);

}

#p-delete:hover{
    color:rgb(141, 40, 40);
}

@media only screen and (max-width:1024px) {
    .page-content {
        padding:10px 20px;
    }
}