@import 'constants.css';


.profile-tabs {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
}

.profile-tabs button {
    border-radius: 50vh;
    border: 0;
    outline: none;
    padding: 6px 16px;
    font-weight: 500;
    transition: var(--btn-t);
    color: #000;
    background-color:#fff;
}

.profile-tabs button:hover {
    background-color:var(--btn-h);
}

.profile-tabs button.selected{
    color:#fff;
    background-color:var(--primary-color);
}

.profile-tabs button.selected:hover{
    background-color:var(--save-h);
}


.box {
    padding:10px 20px;
    border-radius: 6px;
    background-color: #fff;
    max-height: 450px;
    overflow-y:auto;
    position:relative;
}

.tall {
    width:100%;
    height:600px;
}

.wide {
    width:100%;
}

.box-title {
    font-weight: 600;
    margin: 10px 0px;
}

.box h3:first-child {
    margin-top:0px;
}

.copy-code{
    transition:.2s all ease;
}

.copy-code:hover {
    cursor:pointer;
    opacity:.6;
}

.copy-code i{
    font-size:20px;
}

.rpw {
    max-height:250px;
    overflow-y:auto;
}

.r-players {
    width:100%;
}

.user-col {
    display:flex;
    align-items:center;
    border: 1px solid #ddd;
    border-bottom: none;
    transition:.2s ease all;
    padding:10px;
}

.user-col:hover {
    background-color:#e2e2e2;
    cursor:pointer;
}

tr:last-child td.user-col {
    border-bottom: 1px solid #ddd;
}

.user-col i {
    margin-left:auto;
}

.user-col > * {
    pointer-events: none;
}

.player-info, .set-teams {
    display:none;
}

.set-teams {
    margin-top:10px;
}

.hide-rem {
    display:none !important;
}

.m-cancel {
    color:rgb(224, 75, 75);
}

.row {
    margin-bottom: 10px;
}

.row:last-child {
    margin-bottom: 0;
}

.empty-player {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50%, -50%);
}

.empty-player p {
    font-size: 20px;
    color:#bbb;
    margin:auto;
}

.t-select {
    font-size:16px;
}

.t-select input[type=checkbox] {
    margin-right:8px;
}

#schoolcode {
    font-size:14px;
}

.pl-btns{
    margin: 0px;
    margin-top:20px;
    display:flex;
    gap:10px;
    flex-direction: row;
}

.save-btn {
    width:100%;
    margin:0;
    display: flex;
    justify-content: center;
}

.time-header {
    display:flex;
    align-items: center;
}

.time-header i {
    font-size: 30px;
    margin-left: auto;
    transition: .2s color ease;
}

.game-times {
    display:flex;
    flex-direction: column;
}

.game-time {
    display:flex;
    align-items: center;
    gap:10px;
    flex-wrap:wrap;
    margin-bottom: 10px;
}

.game-time input, .game-time select, .listview-header1 input {
    font-size:16px;
    padding:6px 12px;
    border: 1px solid #aaa;
    border-radius: 6px;
}

.game-time input[type="text"],  .listview-header1 input {
    max-width:120px;
}

.game-time i {
    font-size: 34px;
    color:rgb(224, 75, 75);
}

#p-delete{
    background-color:rgb(224,75,75);
    width:100%;
    color:#fff;
    font-size:16px;
    padding: 10px 16px;
    outline:0;
    border:none;
    height:45px;
    border-radius: 4px;
    transition: all .2s ease;
    display:flex;
    align-items: center;
    justify-content: center;
}

#p-delete i {
    padding-right: 6px;
}

#p-delete:hover{
    background-color:rgb(158, 45, 45);
    cursor: pointer;
}

.events-table{
    margin-top:14px;
}

.events-table table {
    width:100%;
}

.events-table td, .events-table th {
    text-align: left;
}

.events-table td:first-child, .events-table th:first-child {
    width: 20%;
}

.red {
    color:rgb(228, 79, 79);
}

.green {
    color:var(--primary-color);
}

th,td{
    padding:10px;
}

tr{
    transition: .2s all ease;
}

tbody tr td:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

tbody tr td:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

tbody tr:hover{
    background-color:rgb(210, 232, 247);
    cursor:pointer;
}

.select-roster-team {
    display:flex;
    justify-content: left;
    align-items: center;
    gap:10px;
}

.select-roster-team select {
    max-width: 300px;
}

.roster-box{
    margin-right:6px;
}

@media only screen and (max-width:1024px) {
    .page-content {
        padding:10px 20px;
    }

    .split{
        grid-template-columns: 100%;
    }
}