@import 'constants.css';

.match-header {
    display:grid;
    grid-template-columns: 20fr 1fr 20fr;
    gap:20px;
    overflow:hidden
}

.event-image {
    position:fixed;
    top:10px;
    right:10px;
    width:50px;
    height:50px;
}

.add-player-admin {
    display:flex;
    gap:10px;
    align-items: center;
}

.score {
    margin-left: auto;
}

.score label {
    margin-right: 6px;
}

.score input[type=number] {
    max-width:70px;
}

.btn {
    background-color:var(--blue);
}

.btn:hover{
    background-color:var(--blue-h);
}

.img-ref {
    transition: all .13s ease;
}

.img-ref:hover{
    opacity:.72;
    cursor:pointer;
}

.match-header > div {
    width:100%;
    background-color: rgba(0,0,0,0);
    text-align: center;
    padding:20px;
}


.match-header >div {
    text-align: center;
}

.match-header > div > p {
    font-size:20px;
    font-weight: 600;
}

th {
    text-align: left;
}

.vs{
    display:flex;
    align-items:center;
    justify-content: center;
}

.st-mod {
    padding:5px;
    border-radius:4px;
    max-width:80px;
    border:1px solid #bbb;
}

.vs p {
    font-size: 30px;
}

.home-team p, .away-team p {
    padding:10px;
}

.info-box{
    padding:20px 20px;
    border-radius: 6px;
    background-color: #fff;
    width:100%;
}

.info-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
}

.table-box{
    width:100%;
    height:100%;
    overflow-x:auto;
    overflow-y:auto;
    max-height:400px;
}

th, td {
    padding:10px;
}

@media only screen and (max-width: 1024px) {
    .match-details, .info-container {
        grid-template-columns: 100%;
    }
}