@import 'constants.css';

td, th {
    font-size: .9em;
}

.page-banner {
    height:200px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position-y: -50px;
}

.page-banner > h2 {
    position: relative;
    mix-blend-mode: difference;
    font-size: 2em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 6px;
    color:#fff;
    
}

input[type=checkbox]{
    position:relative;
    appearance: none;
    outline:none;
    width:40px;
    height:20px;
    background-color: #fff;
    border:1px solid #D9DADC;
    border-radius: 40px;
    box-shadow: inset -14px 0 0 0 #fff;
    transition-duration: 200ms;
}

input[type=checkbox]:after{
    content:"";
    position:absolute;
    top: 1px;
    left: 1px;
    width:16px;
    height:16px;
    background-color:transparent;
    border-radius: 50%;
    box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
}

input[type=checkbox]:checked{
    border-color: #4ED164;
    box-shadow: inset 20px 0 0 0 #4ED164;
}

input[type=checkbox]:checked:after{
    left:20px;
    box-shadow: -2px 4px 3px rgba(0,0,0,0.05);
}

input[type=checkbox]:hover, select:hover{
    cursor:pointer;
}

::-webkit-scrollbar {
    width:12px;
}

::-webkit-scrollbar-track {
    background:#fff;
}

::-webkit-scrollbar-thumb{
    background-color:#ccc;
    border-radius: 50vh;
    border:3px solid #fff;
}

::-webkit-scrollbar-thumb:hover{
    background-color:#bbb;
}

.clickable {
    transition: .12s opacity ease;
}

.clickable:hover {
    opacity:0.75;
    cursor:pointer;
}

.input-container {
    display:flex;
    align-items: center;
    gap:10px;
}

button.green {
    border:none;
    outline:none;
    border-radius: 6px;
    padding:10px 20px;
    background-color:var(--primary-color);
    color:#fff;
    width:100%;
}

.input {
    display: flex;
}

.input i {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: 1px solid var(--text-color);
    padding:6px;
    font-size:16px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:40px;
    background-color: var(--text-color);
    color:#fff;
}

.input input, .input select {
    font-size:16px;
    padding:6px 12px;
    border: 1px solid #aaa;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    width:100%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.input > i:not(.discord):not(.cpass):not(.mascot):not(.lname) + input {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.input > i:not(.discord):not(.cpass):not(.mascot):not(.lname) + select {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

input[type=submit] {
    border: 0;
    outline: none;
    background-color:var(--primary-color);
    color:#fff;
    transition: var(--tran-03);
}

input[type=submit]:hover {
    cursor:pointer;
    background-color: #41b178;
}

input[type=submit]:disabled, button:disabled {
    cursor:not-allowed;
    background-color:#aaa;
    background-image: url('https://tecconvention.com/images/lr-loader.gif');
    background-size: 25px 25px;
    background-position: center;
    background-repeat: no-repeat;
}

.loading {
    cursor:not-allowed;
    background-color: #fff;
    border-radius: 6px;
    padding:20px;
    width:100%;
    height:100px;
    margin:auto;
    background-image: url('https://tecesports.com/images/loader-green.gif');
    background-size: 50px 50px;
    background-position: center;
    background-repeat: no-repeat;
}

.showloading {
    background-image: url('https://tecesports.com/images/loader-green.gif');
    background-size: 50px 50px;
    background-position: center;
    background-repeat: no-repeat;
}

.c-auto {
    cursor:auto;
}

.row {
    display:grid;
    grid-template-columns: auto;
    gap:10px;
}

.e1 {
    grid-template-columns: 1fr;
}

.e2 {
    grid-template-columns: 1fr 1fr;
}

.e3 {
    grid-template-columns: 1fr 1fr 1fr;
}


.e2thirds{
    grid-template-columns: 2fr 1fr;
}

.box {
    padding:10px 20px;
    border-radius: 6px;
    background-color: #fff;
    height:300px;
    max-height: 300px;
    overflow-y:auto;
    position:relative;
}

.box h3:first-child{
    font-weight: 500;
}

.save-btn {
    width:93px;
    height:45px;
    padding:10px 16px;
    outline:0;
    border:none;
    /*margin:10px;*/
    display:flex;
    align-items: center;
    background-color: var(--primary-color);
    color:#fff;
    border-radius:4px;
    font-size:16px;
}

.row {
    margin-bottom:10px;
}

.row:last-child{
    margin-bottom: 0;
}

.save-btn i {
    padding-right:6px;
}

.save-btn:disabled {
    cursor: not-allowed;
}


.sm {
    height:150px;
    max-height:150px;
}

.box-title {
    display:flex;
    align-items: center;
    width:100%;
}

.box-title i{
    margin-left: auto;
    font-size: 20px;
}

.btn-cont {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 10px;
}
.btn.smooth {
    width: 100%;
    color: #000;
    background-color: #fff;
    font-weight: 500;
    padding: 10px;
}
.btn.smooth > span {
    margin-left: auto;
}
.btn-smooth i{
    font-size: 20px;
}

.btn.smooth:hover, .watch-next:hover {
    background-color:var(--lb-h);
}


.profile-tabs {
    display:flex;
    justify-content: center;
    gap:10px;
    padding: 20px 0;
}

.profile-tabs button {
    background-color: #fff;
    border-radius: 50vh;
    border: 0;
    outline: none;
    padding:6px 16px;
    font-weight: 500;
    transition: var(--btn-t);
    color:#000;
}

.profile-tabs button:hover {
    background-color:var(--btn-h);
}

.profile-tabs button.selected {
    background-color:var(--primary-color);
    color:#fff;
}

.profile-tabs button.selected:hover {
    background-color:#27b66c;
}


.game-icons {
    margin-left: auto;
    display:flex;
    gap:12px;
    align-items: center;
    height:fit-content;
}

.game-icon{
    padding:2px;
    transition: var(--tran-03);
    background-color: rgba(0,0,0,0);
    border:none;
}

.game-icon.selected{
    background-color:rgba(0,0,0,0.1);
    border-radius: 2px;
    border:1px solid #ccc;
}

.game-icon:hover {
    opacity: 0.65;
    cursor:pointer;
}

.half {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
}

.sort-by {
    display:flex;
    align-items: center;
    justify-content: left;
    gap:10px;
    margin-top: 10px;
}

@media only screen and (max-width: 1240px) {
    .e2, .e3, .e2thirds {
        grid-template-columns: auto;
    }

    .half {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 1024px){
    .profile-tabs {
        flex-direction: column;
    }
}