@import 'constants.css';

@font-face{
    font-family: "Bahnschrift";
    src: url("https://tecesports.com/fonts/BAHNSCHRIFT.TTF") format("ttf");
}

#canv{
    width:960px;
    height:540px;
}

#canv.select-mode:hover {
    cursor:crosshair;
}

.gsel {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.gsel select {
    width: fit-content;
}

.gsel label {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}

.footer-bar {
    position:fixed;
    top:0;
    right:0;
    width:120px;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding:10px;
    background-color: #fff;
}

.add-image{
    width:100%;
    height:100%;
}

.add-image button{
    background-color:var(--blue);
    width:100%;
}

.add-image button:hover {
    background-color: var(--blue-h);
}

.img-list{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.img-box{
    padding:20px;
    transition:.17s all ease;
    border-radius: 6px;
}

.img-box img {
    width: 60px;
    border-radius: 2px;
}

.img-box:hover {
    background-color: var(--lb-h);
    cursor:pointer;
}

.img-box:hover img{
    opacity:.9;
}