@import 'constants.css';

html{
    scroll-behavior: smooth;
}

body{
    min-width: fit-content;
    background-position: center;
    background-image: url(https://tecesports.com/images/call-sec.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.a-btn.a-green {
    margin:0 auto;
}

.qlink{
    scroll-margin-top: 120px;
}

.top-wrapper {
    height:100px;
    width:100%;
    z-index:10;
}

.top-menu {
    width:100%;
    height:100px;
    padding:10px 20px;
    background-color:rgba(3,6,17,0);
    color:#fff;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.top-menu ul {
    list-style: none;
    height:100%;
    display:flex;
    align-items: center;
    gap:10px;
}

.top-menu li {
    font-weight: 500;
    border-radius: 6px;
    width:fit-content;
    display:inline;
    height:70px;
    padding:10px 20px;
    display: flex;
    align-items: center;
    transition:.2s all ease;
}

li.mlink a {
    display: flex;
    align-items: center;
    width:100%;
    height:100%;
}

li button {
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    color:var(--primary-color);
    background-color:#fff;
    border:2px solid var(--primary-color);
    font-weight: 500;
    font-size: 16px;
    height:46px;
}

.homelink {
    margin-left: auto;
}

.sec1 {
    background-color:#000;
    color:#fff;
    background-image: url(https://tecesports.com/images/hss-crop-t.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.sec2 {
    background-color:#fff;
    color:#000;

    background-image: url(https://tecesports.com/images/bg-test-2.png);
    background-position: -280px 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

.sec3, .sec5 {
    background-color:#e4e9e7;
    color:#000;
}

.sec3 {

    background-image: url(https://tecesports.com/images/bg-edit-light.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
}

.sec4 {
    background-color:rgba(0,0,0,0);
    color:#fff;
}

.s-title {
    margin-bottom:24px;
}

.s-title p {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
}

.s-title .bar {
    width:100px;
    height:4px;
    background-color: var(--primary-color);
    margin:10px auto;
}

.s-title .bar.small-bar {
    width:50px;
}

li button:hover {
    background-color:var(--primary-color);
    color:#fff;
}

.top-menu li.mlink:hover {
    background-color:rgba(233, 244, 251, .2);
    cursor:pointer;
}

a {
    text-decoration: none;
    color:#fff;
}
.np{
    padding:10px 4px !important;
}

.section {
    position:relative;
    padding:40px 120px;
}

.section img {
    z-index: 5;
}

.hss-img {
    position: absolute;
    right:0px;
    top:0px;
    overflow:hidden;
    opacity:0.2;
    z-index: 0 !important;
}

.pc-img {
    position:absolute;
    bottom:50px;
    right:100px;
}

.main-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title p{
    width:100%;
    text-align: left;
}

.main-title .t{
    font-size:2.4em;
    font-weight: 700;
    width:100%;
}

.main-title .b {
    font-size: 3.5em;
    font-weight: 400;
    width:100%;
}

.main-title .d {
    font-size: 1.1em;
    font-weight: 400;
    max-width: 500px;
    margin-top: 30px;
    margin-right: auto;
}

.sp120 {
    width:100%;
    height:120px;
}

.sp60 {
    width:100%;
    height:60px;
}

.wave {
    position:absolute;
    left:0px;
    bottom:0px;
    width:100%;
}


.sp200 {
    width:100%;
    height:200px;
}

.cards {
    display:grid;
}

.c2 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:10px;
}

.c3 {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.card-flex {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.card {
    color:#000;
    border-radius: 6px;
    border:1px solid #e8e8e8;
    padding:24px;
    background-color: #fff;
    transition: .17s all ease;
    font-weight: 500;
    font-size: 16px;
    z-index: 3;
    box-shadow: 0px 2px 8px -2px #dedede;
    position:relative;
}

.card-top {
    display:flex;
    align-items: center;
    gap:10px;
    font-size: 18px;
    margin-bottom:40px;
}

.card-top i {}

.btn-cont {
    background-color:#fff;
    color:#000;
}

.btn.smooth {
    background-color:#fff;
    color:#000;
}

.btn.smooth:hover{
    background-color: var(--lb-h);
}

.card-top i {
    font-size: 30px;
}

.card.hov:hover {
    background-color: var(--lb-h);
    cursor:pointer;
}

.card-body {
    font-weight: 300;
    font-size: 16px;
}

.small {
    width: 60%;
    min-width:1000px;
    margin: 0 auto;
}

.subsec > p{
    width:fit-content;
    margin:0 auto;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
}

.top-wrapper{
    position:fixed;
    left:0;
    top:0;
}

.site-img {
    width:100%;
    height:100%;
    position:absolute;
    opacity:0.1;
    z-index: 1;
    bottom:0;
    left:0;

    top:-50px;
    left:-50px;
    transform: scale(.5) rotate3d(1, -1, 0.6, 70deg) translateZ(0);
}

/*
    footer
*/

.footer {
    width:100%;
    background-color:var(--back);
    padding:40px;
}

.footer-top{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.social-icons {
    display:flex;
    align-items: center;
    gap:10px;
}

.social-icons a {
    text-decoration: none;
    padding:4px;
    border-radius: 4px;
    transition:.17s all ease;
    display:flex;
    align-items: center;
    justify-content:center;
}

.social-icons a:hover {
    background-color:rgba(255,255,255,0.1);
}

a:hover .bxl-facebook {
    color:#3B5998;
}

a:hover .bxl-instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a:hover .bxl-twitter {
    color: #1DA1F2;
}

a:hover .bxl-twitch {
    color: #6441A5;
}

.bxl-tiktok:not(.r):not(.b) {
    z-index:2;
}

.bxl-tiktok.b {
    opacity:0;
    left:3px;
    top:3px;
    position:absolute;
    color:#00f2ea;
}

.bxl-tiktok.r{
    opacity:0;
    position:absolute;
    color:#ff0050;
    right:3px;
    bottom:3px;
}

a:hover .bxl-tiktok:not(.b):not(.r){
    color:#fff;
}

a:hover .bxl-tiktok.b, a:hover .bxl-tiktok.r {
    opacity:1;
}

a:hover .bxl-linkedin {
    color:#0E76A8;
}

.social-icons i {
    color: var(--text-light);
    font-size: 1.6em;
    transition: .17s all ease;
}

.footer-title {
    width:100%;
}

.footer-title p {
    width:fit-content;
    margin:6px auto;
    color:var(--text-light);
}

.ft1 {
    font-size: 1.1em;
    font-weight: 500;
}

.ft2 {
    font-size: 1em;
    font-weight: 300;
}

/* end footer */

.desc {
    font-weight: 500;
    width:fit-content;
    margin:10px auto;
}

@media only screen and (max-width: 1300px){
    .pc-img{
        display:none;
    }
    
    .c2, .c3 {
        grid-template-columns: 1fr 1fr;
    }

    .section {
        padding: 40px 60px;
    }
    
    .section, .small {
        width:100%;
    }

    .sec2 {
        background-position: bottom left;
    }
}


@media only screen and (max-width: 800px){
    .top-wrapper {
        display:none;
    }
    .small{
        min-width: 200px;
    }
    .c2, .c3 {
        grid-template-columns: auto;
        gap:20px;
    }
    .sec1 {
        margin-top:0px;
    }

    .main-title .t {
        font-size: 1.5em;
    }

    .main-title .b{
        font-size: 2em;
    }

    .main-title .d{
        font-size: 1em;
    }
}