/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@import 'constants.css';

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9E7;
    --sidebar-color: #FFF;
    --primary-color: #2dd881;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #373f51;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

* {
    box-sizing:border-box;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

.page-content {
    max-height:100vh;
    height:100%;
}

.login-header {
    width:100%;
    display:flex;
    align-items: center;
}


.login-header img {
    height:50px;
    margin-left:auto;
}

.login-box {
    margin:auto;
    background-color:#fff;
    border-radius:12px;
    padding:20px;
    -moz-box-shadow: 0 0 3px 2px #ddd;
    -webkit-box-shadow: 0 0 3px 2px #ddd;
    box-shadow: 0 0 3px 2px #ddd;
    width:50em;
    max-width: 50em;
    position:absolute;
    left:50%;
    top:25%;
    transform: translate(-50%, -25%);
}

.login-box h1 {
    font-weight:500;
}

.login-footer {
    width:100%;
    margin-top:20px;
    text-align: center;
}

.login-footer a {
    text-decoration: none;
    color:rgb(105, 164, 253);
    font-size:14px;
}

.login-footer a:hover{
    text-decoration: underline;
}

.row {
    width:100%;
    display:grid;
    grid-template-columns: 100%;
    row-gap: 20px;
    column-gap: 10px;
    margin-top:20px;
}

.e2 {
    grid-template-columns: auto auto;
}

.discord, .cpass, .mascot, .lname {
    display:none !important;
}

.input.colors {
    display:grid;
    grid-template-columns: 50% 50%;
}

.color input[type="color"] {
    padding:7px 8px;
    height:100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.color input[type="text"] {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: none;
}

.color-w {
    display:flex;
    flex-direction: column;
}

.color {
    display:grid;
    grid-template-columns: 20% 80%;
}

.color.prim {
    padding-right:5px;
}

.color.seco {
    padding-left:5px;
}

.errors {
    padding: 6px 10px;
    color: #cb0d0d;
    background-color: #f5d8d8;
}

.check {
    margin-top:20px;
}

.pass-specs {
    background-color: var(--body-color);
    border: 1px solid #aaa;
    padding:6px 10px;
    font-size:12px;
    margin-top:20px;
    border-radius:4px;
}

.pass-specs p i {
    margin-right:6px;
}

.good {
    color:#23a160;
}

.bad {
    color:#cb0d0d;
}

@media only screen and (max-width: 1024px) {

    .e2 {
        grid-template-columns: 100%;
    }
    .login-box {
        width: 96%;
        margin: 10px auto;
        position:relative;
        left:0px;
        top:0px;
        transform: none;
        margin-bottom: 20px;
    }

    .discord, .cpass, .mascot, .lname {
        display:flex !important;
    }

    .input > i + input {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    
    .input > i + select {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}