@import 'constants.css';

.msg-box {
    background-color: white;
    width:80%;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
    height:600px;
    border-radius: 6px;

    display:grid;
    grid-template-columns: 1fr 2fr;
}

.convos{
    display:flex;
    flex-direction: column;
    width:100%;
    overflow-y:auto;
    padding: 8px 12px;
}

.convo-h {
}

.convo-h h3 {
    font-weight: 500;
    font-size: 1.2em;
}

hr.sep {
    margin: 4px 0px;
}

.convo-box {
    display:flex;
    align-items: center;
    gap:10px;
    padding: 10px 10px;
    transition:.17s all ease;
    border-radius: 4px;
}

.convo-box.selected {
    background-color:rgb(236, 239, 241);
}

.convo-box:hover {
    background-color: rgb(210, 232, 247);
    cursor: pointer;
}

.chat-h {
    height:100px;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
    position:relative;
}

.chat-h-inf {
    display:flex;
    flex-direction: column;
}

.msg-info {
    display:flex;
    flex-direction: column;
}

.msg-sender{
    font-weight: 600;
    font-size: .9em;
    color:#000;
}

.msg-prev{
    font-weight: 400;
    font-size: .7em;
    color:#555;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 96px;
    white-space: nowrap;
}

.msg-time {
    margin-left: auto;
    font-size: .8em;
    color:#444
}

.pfp {
    width: 40px;
    height: 40px;
    background-size: 40px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.chat {
    border-left: 1px solid #ccc;
    background-color: #fff;
}

.chat-m {
    width:100%;
    display:flex;
    flex-direction: column;
    list-style:none;
    height: calc(100% - 136px);
    max-height: 463px;
    overflow-y:auto
}

.chat-opts {
    position:absolute;
    bottom:0;
    right:0;
    padding:.3em;
    display:flex;
    align-items: center;
    gap:.5em;
}

.chat-report, .chat-block {
    transition: .2s all ease;
    border-radius: 50%;
}

.chat-report:hover, .chat-block:hover {
    background-color: #f1f1f1;
    cursor:pointer;
}

.chat-opts i{
    color:rgb(207, 90, 90);
    font-size: 1.4em;
}

.chat-opts i:hover {
    color:rgb(167, 57, 57);
}

@keyframes animate-add {
    from {
        transform: scale(.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.chat-msg {
    width:100%;
    display:flex;
    padding:.1em .5em;
    animation: animate-add .1s linear;
}

.chat-msg span {
    border-radius: 8px;
    padding:.2em .6em;
    font-size: 1em;
    max-width:26em;
}

.chat-msg .left {
    background-color:#ededed;
    color:#000;
    margin-right: auto;
}

.chat-msg .right {
    background-color:rgb(67 144 233);
    color:#fff;
    margin-left: auto;
}

.chat-s {
    width:100%;
    height:34px;
    padding:.2em .4em;
    display:flex;
    align-items: center;
    gap:4px;
}

.chat-s .msg {
    border-radius: 50vh;
    width:100%;
    height:100%;
    outline:0;
}

.chat-s .send-msg{
    background-color:rgb(67 144 233);
    color:#fff;
    height:100%;
    display:block;
    padding:0px 16px;
    border-radius: 50vh;
    transition: .17s background-color ease;
}

.chat-s .send-msg:hover {
    background-color:rgb(52, 117, 190);
}

.back-btn {
    display:none;
}

.msg-box > div {
    transition: all .2s ease;
}

@media only screen and (min-width: 1025px){
    .msg-box {
        min-width:800px;
    }
}
@media only screen and (max-width: 1024px){
    .msg-box {
        width:100%;
        position:relative;
        left:0;
        top:0;
        transform:none;
        border-radius: 0px;
        display:block;
    }
    .chat-msg span {
        max-width:18em;
    }

    .msg-box > div {
        position:absolute;
        width:100%;
        top:0;
        height: calc(100vh - 20%);
    }

    .msg-box > div:not(.hide-box){
        left:0;
    }

    .hide-box{
        right:100vw !important;
    }

    .back-btn {
        display:block;
        position:absolute;
        left:5%;
        font-size: 1.3em;
    }

    .chat-s {
        position:absolute;
        bottom:0;
    }

    .chat {
        border: none;
    }
}