@import 'constants.css';

.stats-box, .panel {
    height:650px;
    max-height: 650px;
    overflow-y: auto;
}

.panel {
    display:flex;
    align-items: center;
    justify-content: center;
    row-gap:10px;
    flex-direction: column;
    width:100%;
}

.panel .box {
    width:100%;
    height:100%;
    max-height: 650px;
}

.stats-top {
    width:100%;
    display:flex;
    align-items: center;
}

.game-icons {
    margin-left: auto;
}

.sort-by {
    display:flex;
    align-items: center;
    gap:10px;
}

th,td{
    padding:10px;
    text-align: left;
}

th i {
    font-size: 20px;
    margin-left: 6px;
}