@import 'constants.css';

.team-link img {}

.teams {
    width:100%;
}

.box {
    height:120px;
    max-height:120px;
    overflow: hidden;
    display:flex;
    align-items: center;
    gap:10px;
}

h3 {
    color: #000;
}

.box:hover {
    background-color: #E8F3F7;
}

.games {
    margin-left: auto;
}

.team-box{
    flex-direction: column;
}

.team-box > h3 {
    font-weight: 500;
}